
{% extends 'base.html' %}

{% block title %}Shopping Cart{% endblock %} 

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
        </thead>
        <tbody>
        {% for melon in melon_order %}
        <tr>
            <td>{{ melon.common_name }}</td>
            <td>{{ melon.quantity }}</td>
            <td>{{ melon.price_str() }}</td>
            <td>{{ "$%.2f" % melon.subtotal }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

    <h3>Total: {{ "$%.2f" % total_cost }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
